@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-primary: #3b82f6;
  --color-secondary: #fd6f00;

  --color-bg: #ffffff;
  --color-surface: #f5f5f5;
  --color-surface-hover: #eaeaea;
  --color-text: #111827;
}

.dark {
  --color-bg: #1a1a19;
  --color-surface: #272726;
  --color-surface-hover: #333332;
  --color-text: #f9fafb;
}

.clip-top {
  overflow: hidden;
  clip-path: inset(0 0 0 0 round 9999px);
}
